# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL
RewriteRule ^docs   RouteConfig.php?view=docs [nc,qsa]
RewriteRule ^airports   RouteConfig.php?view=airports [nc,qsa]
RewriteRule ^airports([0-9]+)/$   RouteConfig.php?view=single&id=$1 [nc,qsa]
RewriteRule ^flights   RouteConfig.php?view=flights [nc,qsa]
RewriteRule ^checkins   RouteConfig.php?view=checkins [nc,qsa]
RewriteCond %{REQUEST_METHOD} POST